<h1>Edit the restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name, label: 'Name of the restaurant' %>
  <%= f.input :address, label: 'Address of the restaurant' %>
  <%= f.input :chef, label: 'Chef of the restaurant' %>
  <%= f.input :stars, collection: 1..5 %>
  <%= f.submit %>
<% end %>
