<h1> <%= @restaurant.name %> </h1>

<p>Adress: <%= @restaurant.address %></p>
<p>Chef: <%= @restaurant.chef %></p>
<p>Stars: <%= @restaurant.stars %></p>

<%= link_to "Edit this restaurant", edit_restaurant_path  %>
<%= link_to "Comeback to home", restaurants_path %>
